  {{#items}}
    <tr>
      <td>{{name}}</td>
      <td>{{imei}}</td>
      <td>{{t_connect}}</td>
      <td>{{dt_connect}}</td>
      <td>{{dt_login}}</td>
      <td>{{bytes_in}}</td>
      <td>{{bytes_out}}</td>
    </tr>
  {{/items}}

