/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#listbox {
  border:4px solid #dee;
  padding:8px;
  width:60%;
  float:left;
}

#listbox table { 
  font-size:80%;
}

#listbox table thead {
  background:#c5f2f9;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}


form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

#newdev label { 
  display:block;
}

.error { 
color:#f00;
font-style:italic;
}

.ok {  
color:#080;
}

.small { 
font-size:80%;
}
