<p>
    Use the form below to add a new RUDICS device entry. For non-MLF2 devices,
    you must specify a TCP-server. MLF2 devices must have a name in the form
    <em>mlf2-N</em> where <em>N</em> is the float-ID
</p>
<ul id="statusList"></ul>
<form id="newdev">
  <label>Owner email: <input type="text" name="owner" size="32" value=""/></label>
  <label>IRSN (aka IMEI): <input type="text" name="imei" size="32" value=""/></label>
  <label>TCP server (<em>IP addr:port</em>): <input type="text" name="endpoint" size="32" value=""/></label>
  <label>Device name: <input type="text" name="name" size="32" value=""/></label>
  <input type="submit" value="Add Entry">
</form>

<div style="clear:left;"></div>
